/* Body section */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background-color: #231e26;

  position: relative;
  padding-bottom: 58px;

  min-height: 100vh;
}

/* Basic Structure */
header {
  background: black;
}

nav {
  margin-left: 38%;
}

/* Modifying parts */
header::after {
  content: '';
  display: table;
  clear: both;
}

.nav-bar-container {
  width: 80%;
}

.nav-bar-container .links {
  margin-left: 10vh;
}

/* To access the ul and li elements of nav */
.links nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.links nav li {
  display: inline-block;
  margin-left: 35px;
  padding-top: 35px;
  padding-left: 35px;

  position: relative;
}

.links nav a {
  color: #dcc2c2;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

.links nav a:hover {
  color: white;
}

/* To get the white moving bar on top */
.links nav a::before {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: white;

  position: absolute;
  top: 0px;
  width: 0%;

  transition: ease-in-out 500ms;
}

nav a:hover::before {
  width: 100%;
}

nav .current {
  color: white;
}

nav .current::before {
  width: 75%;
}

/* Content */
.main-container {
  padding-top: 20vh;
  color: #dcc2c2;
  text-align: center;
  font-size: 25px;

  position: relative;
}

button {
  background: #231e26;
  margin-top: 50px;
  padding: 1px 90px;
  border-radius: 12px;
  border: solid 3px #ebdede;
  text-align: center;
  display: inline-block;

  font-size: 30px;
  color: #dcc2c2;

  transition-duration: 0.3s;
}

button:hover {
  color: white;
  background: black;
  border: solid 3px white;
  box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

button:active {
  color: grey;
  background: rgb(54, 54, 54);
  border: solid 3px rgb(211, 199, 199);
}

.bio-container {
  padding-top: 30vh;
  text-align: center;
  position: relative;
  padding-bottom: 10vh;
}

.b-cont {
  border: solid 1px white;
  margin-left: 30vh;
  margin-right: 30vh;
  top: 0;
  bottom: 0;
}

/* Logo/Images Section */ 
.logo-img {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 15%;
  height: 15%;
  object-fit: contain;
}

.footer-img {
  position: relative;
  padding-top: 10vh;
  max-width: 100%;
}

/* Social media icons */
.social-media-icons {
  margin: 0;
  width: 20%;
}

.social-media-connect {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 30%;
}

.social-media-connect ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-media-connect li:hover {
  transform: scale(1.1);
}


/* Footer */
footer {
  color: white;
  text-align: center;
  background: black;
  padding: 5px;

  position: absolute;
  bottom: 0;
  width: 99.3%;
  height: 58px;
}